<div class="banner">
  <div class="banner-content">
      <%= link_to "Add a cocktail", new_cocktail_path, class: 'button'%>
  </div>
</div>

<div class="container">
  <div class="row">
    <h2 class="text-center list-title"><em>List of all our cocktails</em></h2>
      <% @cocktails.each do |c| %>
        <div class="col-xs-4">
          <%= link_to cocktail_path(c) do %>
            <div class="card">
              <div class="card-category"><%= c.name %></div>
              <div class="card-description">
                <p><%= c.description %></p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
  </div>
</div>

