<div class="navbar-wagon">
  <!-- Logo -->
    <%= link_to cocktails_path do %>
      <%= image_tag 'logo.jpg', alt: "cocktailissimo logo", width: 100, class: "navbar-wagon-brand"%>
    <% end %>
</div>
