.list-title {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1 0 1 rgba(0, 0, 0, 0.1);
}

.cocktail-content {
  margin-top: 20px;
  margin-bottom: 10px;
}

.form {
  height: 300px;
  padding: 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 1);
}

.form-content {
padding: 10px;
}
